<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <form method="post" action="/login">
            <input type = "text" name = "username" placeholder="Username" />
            
            <input type = "text" name = "password" placeholder="Password" />
            <p> <%= locals.name %></p>
            <button type = "submit" >Login</button>
        </form>
    </main>
</body>
</html>