<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <main>
        <form method="get" action="/logout">
            <h1>hiii ,<%= name %> </h1>
            <button type = "submit" >Logout</button>
        </form>
    </main>
</body>
</html>