<body>
    <main>
        <form method="get" action="/logout">
            <h1>Beware ! ,<%= name %> You will be logged out. </h1>
            <button type="submit">Logout</button>
        </form>
    </main>
</body>

